@model IEnumerable<h3_web.Models.Cita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new {@class="btn btn-sucess"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Cita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doc_Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doc_Profesional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Cita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Cita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_Cita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doc_Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doc_Profesional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Cita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Cita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ },new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-dangerus" })
        </td>
    </tr>
}

</table>
