@model h3_web.Models.Cita

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h4>Cita</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fecha_Cita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_Cita)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hora_Cita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hora_Cita)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Paciente.Doc_Paciente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Paciente.Doc_Paciente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profesional.Doc_Pro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profesional.Doc_Pro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Cita }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
