@model IEnumerable<h3_web.Models.Horario>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hora_Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora_Salida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID_Horario }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID_Horario }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID_Horario })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
